ENV=dev

# Configuracion de PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=chat_rag
DB_SCHEMA=public
DB_USER=postgres
DB_PASSWORD=postgres

# Configuracion de la aplicacion
AUTH_SALT=salto_seguro
FILE_TYPES_ALLOWED=".txt,.pdf"
FILE_STORAGE_PATH="uploaded_files/"

# Claves de acceso de prueba
TEST_USER_USERNAME=test_user
TEST_USER_PASSWORD=test_password

# Configuracion API Gemini
GEMINI_API_KEY=your_gemini_api_key_here